body{
    margin : 30px;
}
.first-container{
  
    border: 100px ;

}

.my-col{
    
    width: 200px;
    height: 500px;
    background-color: antiquewhite; 
}

.btn-secondary{
   margin: 40px;;
   
    width: 100px;
    height: 50px;

}
.col-2{
    background-color: rgb(252, 188, 198);
}
.col-4{
    background-color :rgb(216, 202, 204);
}
.col-6{
  background-color: salmon;
}

.card-subtitle{
    margin-left: 150px;
   
}


