body{
    margin : 0px;
   
}
.first-container{
  
    border: 2px solid black ;
    height: 100vh;

}



.btn-secondary{
   margin: 40px;;
}
.card-subtitle{
    float:right;
   
}
#right-col
{
    background-color: rgb(101, 168, 255);
}
#mid-col{
    background-color :rgb(74, 153, 255);
}
#left-col {
    background-color: rgb(50, 139, 255);
}



